@use "../abstracts/" as *;


.burger-menu {
    --_burger-size: #{rem(30)};
    
    display: none;
    // background: url("") no-repeat center;

    width: var(--_burger-size);
    aspect-ratio: 1;

    border: none;
    cursor: pointer;

    &[aria-expanded=true] {
        // background: url("") no-repeat center;
    }
}