@use "../abstracts/" as *;
@use "sass:math";


$container-max-width: 110ch;
$container-padding-inline: 2rem;

$breakout-max-width: 120ch;
$breakout-size: math.div(($breakout-max-width - $container-max-width), 2);


.container {
    width: min(90%, $container-max-width);
    padding-inline: $container-padding-inline;
    margin-inline: auto;
}


.container-grid {
    display: grid;
    grid-template-columns: 
    [full-width-start] minmax($container-padding-inline, 1fr)
    [breakout-start]   minmax(0, $breakout-size) 
    [content-start]    min(100% - ($container-padding-inline * 2), $container-max-width) 
    [content-end]      minmax(0, $breakout-size) 
    [breakout-end]     minmax($container-padding-inline, 1fr)
    [full-width-end];
    
    padding-top: clamp(rem(80), 8vw, rem(120));
 
    > * {
        grid-column: content;
    }

}


.full-width {
    grid-column: full-width;
}


.breakout {
    grid-column: breakout;
}

