@use "../abstracts/" as *;


.text-center {
    text-align: center;
}

.text-underline {
    --underline-offset: 4px;
    text-decoration: underline;
    text-underline-offset: var(--underline-offset);
}